
.profilePic{
    margin-top: 33px;
width: 136px;
height: 136px;
border-radius: 50%;

background: #C4C4C4;
}


.profileAvatar:hover .mainHover{
    display:block;
  }

  .mainHover{
    padding:8px;
    padding-left: 14px !important;
    padding-right: 14px !important;
    display:none;
    position: absolute;
    top:50px;
    right:1.5rem;
    z-index: 102;
    min-width: 160px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    /* Rectangle 48 */
  
  
  }
.logOutBox{
width: 130px;
height: 30px;
padding:5px;
background: #F82727;
border-radius: 40px;
}
.greenBoxSizing{
    width: 27vw;
}
.greenBoxOutter{
    margin-top: 10px;
    width: 27vw;
    min-height: 80px;
    background: #FFFFFF;
    border: 1px solid #0FBC9D;
    box-sizing: border-box;
    border-radius: 20px;
}

.greenBoxTop{
    padding:4px;
padding-left:10px;
padding-right:10px;
box-sizing: border-box;
width: 100%;
height: auto;
background: #0FBC9D;
border-radius: 20px 20px 0px 0px;
}

.greenBoxTitle{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.05em;
color: #FFFFFF;
}

#mainDashBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    padding-bottom:1rem;
    padding-left:12vw;
    padding-right:12vw;
    padding-top:40px;
}
.smallGreenTitle{
    font-size: 12px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.smallBox{
    max-width: 110px !important;
}
@media (max-width:762px) {
    .pinkButtonTitle{
        font-size: 14px !important;
    }
    .logOutBox{
        width: 80px !important;
        height: 20px !important;
    }
    .greenBoxSizing{
        width: 40vw !important;
    }
    .greenBoxOutter{
        width: 40vw !important;
    }
    .greenBoxTitle{
        font-size: 15px;
    }
    .greenBoxTop{
        padding-left:10px !important;
        padding-right:10px !important;
    }
    #mainDashBox{
        padding-left:2vw !important;
        padding-right:2vw !important;
    }
}
#column{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.greenInnerContent{
    box-sizing: border-box;
    min-height: 10px !important;
    height: 100%;
    width: 100%;
    padding:8px;
}