/* Outerbox */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

p {
  margin: 0;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.outerbox {
  padding: 52px 24px 53px 25px;
  box-sizing: border-box;
  background-color: rgba(249, 249, 249, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  width: 320px;
  height: 354px;
}

.innercontent {
  height: 100%;
}

.txt-315 {
  font-size: 22px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -1.1px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 22px;
}

.txt-768 {
  font-size: 22px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -1.1px;
  color: rgba(93, 187, 233, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 33px;
}

.group-78 {
  padding: 0px 199px 0px 0px;
  margin-bottom: 17px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgba(243, 244, 244, 1);
  height: 20px;
  width: fit-content;
}

.rectangle-36 {
  background-color: rgba(107, 194, 148, 1);
  width: 38.24px;
  border-radius: 50px;
  height: 100%;
}

.group-572 {
  margin-bottom: 22px;
  box-sizing: border-box;
  width: fit-content;
}


.txt-468 {
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: rgba(147, 147, 147, 1);
  text-align: center;
  word-wrap: break-word;
}

.group-80 {
  margin-bottom: 19px;
  box-sizing: border-box;
  width: fit-content;
}



.txt-468 {
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: rgba(147, 147, 147, 1);
  text-align: center;
  word-wrap: break-word;
}

.group-103 {
  width: fit-content;
}



.txt-468 {
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: rgba(147, 147, 147, 1);
  text-align: center;
  word-wrap: break-word;
}