/* Carly */

@font-face {
    font-family: "KarlaBold";
    src: url(../fonts/Karla/Karla-Bold.ttf)
}

@font-face {
    font-family: "KarlaRegular";
    src: url(../fonts/Karla/Karla-Regular.ttf)
}

@font-face {
    font-family: "KarlaMedium";
    src: url(../fonts/Karla/Karla-Medium.ttf)
}

@font-face {
    font-family: "KarlaLight";
    src: url(../fonts/Karla/Karla-Light.ttf)
}

@font-face {
    font-family: "KarlaSemiBold";
    src: url(../fonts/Karla/Karla-SemiBold.ttf)
}

@font-face {
    font-family: "SpectralBold";
    src: url(../fonts/Spectral/Spectral-Bold.ttf)
}

@font-face {
    font-family: "SpectralRegular";
    src: url(../fonts/Spectral/Spectral-Regular.ttf)
}

@font-face {
    font-family: "SpectralMedium";
    src: url(../fonts/Spectral/Spectral-Medium.ttf)
}

@font-face {
    font-family: "SpectralLight";
    src: url(../fonts/Spectral/Spectral-Light.ttf)
}

@font-face {
    font-family: "SpectralSemiBold";
    src: url(../fonts/Spectral/Spectral-SemiBold.ttf)
}

@font-face {
    font-family: "PostNoBillsJaffnaBold";
    src: url(../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.ttf)
}

@font-face {
    font-family: "PostNoBillsJaffnaRegular";
    src: url(../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular.ttf)
}

@font-face {
    font-family: "PostNoBillsJaffnaMedium";
    src: url(../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.ttf)
}

@font-face {
    font-family: "PostNoBillsJaffnaLight";
    src: url(../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light.ttf)
}

@font-face {
    font-family: "PostNoBillsJaffnaSemiBold";
    src: url(../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.ttf)
}

.mainTitleBlack {
    font-family: PostNoBillsJaffnaBold;
    font-size: 28px;
    max-width: 140px;
}

.navHeader1 {
    font-size: 20px;
    font-family: PostNoBillsJaffnaBold;
}

@media (max-width:916px) {
    .title1 {
        font-size: 50px !important;
        max-width: 90vw;
        text-align: center;
    }
    .title2 {
        font-size: 40px !important;
        max-width: 85% !important;
        text-align: center;
    }
    .title3 {
        font-size: 22px !important;
    }
    .subtitle3 {
        font-size: 12px !important;
    }
    .blackTitle {
        font-size: 40px !important;
        width: 90vw !important;
    }
}

.karlaRegular {
    font-family: KarlaRegular;
}

.body1 {
    /* Enter your zipcode and begin quoting now */
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.05em;
    color: #292929;
}

.title1 {
    /* Get Insured WhilstPaying LESS */
    width: 659.86px;
    font-family: SpectralBold;
    font-size: 74px;
    color: #FFFFFF;
}

h1.blackTitle {
    /* Get Insured WhilstPaying LESS */
    width: 80vw !important;
    font-family: SpectralBold;
    font-size: 64px;
    line-height: 100%;
    color: #000000;
    text-align: center;
}

.karlaBold {
    font-family: KarlaBold;
}

.buttonText {
    font-family: KarlaBold;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.green1 {
    color: #3FD260;
}

.green2 {
    color: #1BC19E;
}

.blue1 {
    color: #36A9FC;
}

.title2 {
    /* Powered with Cloud Computing and AI, get dozens of quotes in seconds */
    font-size: 60px;
    letter-spacing: -0.05em;
    max-width: 80vw;
    color: #000000;
}

.signatureText1 {
    width: 313px;
    height: 99.44px;
    font-family: KarlaBold;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
}

.signatureTitle {
    /* Insurance Quotes */
    font-family: SpectralBold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #0FBC9D;
}

.signatureSecondaryTitle {
    /* Insurance Quotes */
    font-family: KarlaBold;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height */
    color: #383838;
    padding-top: 5px;
    cursor: pointer;
}

.title3 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: -0.05em;
    
    color: #000000;
}
.title4 {
    /* Any at-fault Accidents in the Last 3 years */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.05em;
    
    color: #000000;
}
.title5{
    font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
letter-spacing: -0.05em;
}
.title6{
    font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
letter-spacing: -0.05em;

color: #000000;
}


.subtitle3{
    /* Any at-fault Accidents in the Last 3 years */
    font-family: KarlaBold;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #000000;
    margin-bottom: 20px;

}