.material-textfield {
    position: relative;  
    width: 100%;
    box-sizing: border-box;
  }
  
  .material-textfield label{
    position: absolute;
    font-size: 14px;
    left: 0;
    
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: rgb(66, 66, 66);
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .14s ease;
    transform-origin: left top;
    pointer-events: none;
  }
  .material-textfield input {
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0.6rem 0.6rem;
    color: black;
    width: 100%;

  }
  .frame-2 {
    border-radius: 20px;
    background-color: rgba(101, 214, 160, 1);
    width: 200px;
    height: 28px;

  }
  
  .txt-1085 {
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
  }
  #inputLabel {
    display: flex;
    padding-bottom: 2px;
    font-size: 15px;
    text-align: center;
    justify-content: center;

  }
  .material-textfield input:focus {
    border: 2px solid black !important;
  }
  .material-textfield input:focus + label {
    color:black;
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  .material-textfield input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  .select-text{
    width: 100%;
  }