/* Quotecard */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

p {
  margin: 0;
}

.flex-col-hcenter-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}
@media (min-width:754px) {
  .genKarla{
    font-size:16px !important;
  }
  .quotecard2
{
    background-color: rgba(255, 255, 255, 1);
    width: 520px !important;
    height: auto;
  }
}
.quotecard2
{
    background-color: rgba(255, 255, 255, 1);
    width: auto;
    min-width: 320px;
    height: auto;
  }
.quotecard {
  background-color: rgba(255, 255, 255, 1);
}

.top {
    border-radius: 10px 10px 0 0 !important;
  padding: 3px 15px;
  box-sizing: border-box;
  background-color: rgba(15, 188, 157, 1);
  width: 100%;
}

.frame-66 {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.checkmark {
  width: 20px;
  margin-right: 8px;
  height: 100%;
}

.txt-787 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.7px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  word-wrap: break-word;
  margin-right: 8px;
}

.vector {
  width: 19px;
  height: 17px;
}

.innerbox {
  padding: px 0px 8px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(15, 188, 157, 1);
  width: 100%;
  border-radius: 0 0 10px 10px !important;
}

.quotedetails {
  box-sizing: border-box;
  width: 100%;
  padding:8px;
}
.quotedetails2 {
    margin-bottom: 8px;
    box-sizing: border-box;
    width: 100%;
    padding:8px;
  }
.frame-100014 {
  margin-bottom: 4px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-345 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.7px;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 8px;
}

.txt-516 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-105 {
  margin-bottom: 4px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-345 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.7px;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 8px;
}

.txt-528 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
  margin-right: 8px;
}

.txt-232 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
}

.frame-106 {
  width: fit-content;
}

.txt-345 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.7px;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 8px;
}

.txt-232 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
}

.line-19 {
  border: 1px solid rgba(15, 188, 157, 1);
  width: 100%;
}

.quotelines {
  width: fit-content;
}

.quoteline {
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 100%;
}
.disabled{
  background-color: grey !important;
  box-shadow: 0px 2px 1px grey !important;
}
.disabledText{
  color:rgb(212, 212, 212) !important;
}

.quoteline:hover {
background-color: rgb(148, 188, 193);
color:white !important;
}
.selected {
  background-color: rgb(148, 188, 193);
  color:white !important;
  }
.vector-1 {
  width: 12px;
  height: 10px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
  margin-right: 6px;
}

.txt-111 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
}

.quoteline {
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.vector-2 {
  width: 13px;
  height: 9px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
  margin-right: 6px;
}

.txt-111 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
}

.frame-106 {
  width: fit-content;
}

.vector-1 {
  width: 12px;
  height: 10px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 12px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.6px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
  margin-right: 6px;
}

.txt-111 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: rgba(71, 71, 71, 1);
  word-wrap: break-word;
}


.callbutton {
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(15, 188, 157, 1);
    box-shadow: 0px 2px 1px rgba(54, 157, 139, 1);
    height: 30px;
  }
  
  .txt-916 {
    font-size: 20px;
    font-family: Karla, sans-serif;
    font-weight: 700;
    letter-spacing: -0.9px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
  }

  /* Frame79 */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

p {
  margin: 0;
}

.flex-col-hcenter-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.frame-79 {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  width: 435px;
  height: 205px;
}

.frame-67 {
  padding: 14px 11px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 332px;
  height: 100%;
}

.frame-71 {
  margin-bottom: 14px;
  box-sizing: border-box;
  width: 100%;
}

.txt-365 {
  font-size: 20px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 309px;
  word-wrap: break-word;
  margin-bottom: 9px;
}
.genKarla {
  font-family: Karla, sans-serif;
  font-size: 12px;
  width: fit-content !important;
}

.txt-908 {
  font-size: 14px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  letter-spacing: -0.7px;
  color: rgba(71, 71, 71, 1);
  text-align: center;
  width: 309px;
  word-wrap: break-word;
}

.callbutton {
  padding: 7px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(15, 188, 157, 1);
  box-shadow: 0px 2px 1px rgba(54, 157, 139, 1);
  height: 30px;
  width: fit-content;
}

.txt-937 {
  font-size: 18px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.9px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-79 {
    width: 161px;
    height: 84px;
  }
  
  .txt-380 {
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
    margin-right: 4px;
  }
  
  .txt-1043 {
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: rgba(71, 71, 71, 1);
    text-align: right;
    word-wrap: break-word;
  }

  .frame-667 {
    display: flex;
    position: relative;
    min-width: 108px;
    gap:10px;
    height: auto;
    width: auto;
  }
  .frame-6667 {
    position: relative;
    min-width: 58px;
    height: 84px;
  }
  .txt-091 {
    position: absolute;
    top: 70px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: 14px;
    word-wrap: break-word;
  }
  
  .txt-2108 {
    position: absolute;
    top: 56px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 101px;
    height: 14px;
    word-wrap: break-word;
  }
  
  .txt-899 {
    position: absolute;
    top: 42px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 73px;
    height: 14px;
    word-wrap: break-word;
  }
  p{
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 1);
  }
  .txt-695 {
    position: absolute;
    top: 28px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 103px;
    height: 14px;
    word-wrap: break-word;
  }
  
  .txt-413 {
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 14px;
    word-wrap: break-word;
  }
  
  .txt-947 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-family: Karla, sans-serif;
    font-weight: 500;
    letter-spacing: -0.6px;
    color: rgba(0, 0, 0, 1);
    width: 59px;
    height: 14px;
    word-wrap: break-word;
  }
  
  